@CHARSET "UTF-8";
.top /* 상단 */
{ 
width: 100%; height: 20%;  

}
#navi  /* 회원가입 로그인 부분 */
{
margin: 0 10px; font-family:"맑은고딕",sans-serif; 
font-size: 15px; color: white; float: right; padding-top: 50px; padding-right: 20px; font-weight: bolder;
text-align:left;
}
#menu /* 메뉴(카테고리) */
{
 float: center; font-family:"맑은고딕",serif; color: white; line-height: 3em; text-align: center; font-weight: bolder; margin: -10px; padding: -10px; font-size: 20px;
 padding-left: 225px;
}
#res /* 예약 부분 */
{
height: 50px; background:rgba(0, 0, 0, 0.4); font-family:"맑은고딕",sans-serif;  color: white; 
color: #FFFFFF; text-align: center; font-weight: bolder; line-height: 3em; float: center; margin-right: 0px; margin-left: 0px;
}
#logo /* 로고 */
{
margin: 0 auto; float: center; cursor: pointer;
}
.h{
	height: 23px;
}
