@CHARSET "UTF-8";
.join/* 회원가입 부분 */
{
text-align: center; margin: 5% auto; width: 41%;
line-height: 2em;
}
.login
{
text-align: center; margin: 5% auto; width: 41%; 
}

.pwch /* 비밀번호 확인 */
{
text-align: center; margin: 1% auto; width: 21%;
}

